/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* .testimonial-01 .swiper-pagination-bullet {
  @apply h-2.5 w-2.5 bg-stroke opacity-100;
}
.testimonial-01 .swiper-pagination-bullet-active {
  @apply w-5 rounded-full bg-primary;
}

.testimonial-01 .swiper-pagination {
  @apply relative pt-[50px];
}

#supportCheckbox:checked ~ div span {
  @apply opacity-100;
}

@layer base {
  body {
    @apply relative z-1 font-inter text-regular font-normal text-waterloo dark:text-manatee;
  }
}

@layer components {
  .dropdown {
    @apply -left-7.5 mt-2 hidden min-w-max flex-col gap-4 rounded-md border border-stroke bg-white px-8 py-5 shadow-solid-13 duration-300 ease-in dark:border-strokedark dark:bg-black xl:invisible xl:absolute
    xl:mt-0 xl:flex xl:w-[250px] xl:translate-y-10 xl:opacity-0
    xl:before:absolute xl:before:-top-1.5 xl:before:left-10 xl:before:h-3 xl:before:w-3 xl:before:rotate-45 xl:before:border-l xl:before:border-t xl:before:border-stroke xl:before:bg-white xl:group-hover:visible xl:group-hover:translate-y-6.5 
    xl:group-hover:opacity-100 xl:dark:before:border-strokedark xl:dark:before:bg-black;
  }
}

@media (max-width: 1280px) {
  .navbar {
    @apply max-h-[400px] overflow-y-scroll;
  }
} */
.testimonial-01 .swiper-pagination-bullet {
  height: 10px; /* h-2.5 */
  width: 10px; /* w-2.5 */
  background-color: var(--color-stroke); /* bg-stroke */
  opacity: 1; /* opacity-100 */
}

.testimonial-01 .swiper-pagination-bullet-active {
  width: 20px; /* w-5 */
  border-radius: 9999px; /* rounded-full */
  background-color: var(--color-primary); /* bg-primary */
}

.testimonial-01 .swiper-pagination {
  position: relative; /* relative */
  padding-top: 50px; /* pt-[50px] */
}

#supportCheckbox:checked ~ div span {
  opacity: 1; /* opacity-100 */
}

@layer base {
  body {
    position: relative; /* relative */
    z-index: 1; /* z-1 */
    font-family: 'Inter', sans-serif; /* font-inter */
    font-size: 16px; /* text-regular (this is a guess; change if necessary) */
    font-weight: 400; /* font-normal */
    color: var(--color-waterloo); /* text-waterloo */
  }
  body.dark {
    color: var(--color-manatee); /* dark:text-manatee */
  }
}

@layer components {
  .dropdown {
    left: -30px; /* -left-7.5 */
    margin-top: 8px; /* mt-2 */
    display: none; /* hidden */
    min-width: max-content; /* min-w-max */
    flex-direction: column; /* flex-col */
    gap: 16px; /* gap-4 */
    border-radius: 6px; /* rounded-md */
    border: 1px solid var(--color-stroke); /* border-stroke */
    background-color: white; /* bg-white */
    padding: 32px; /* px-8 py-5 */
    box-shadow: var(--shadow-solid-13); /* shadow-solid-13 */
    transition: all 0.3s ease-in; /* duration-300 ease-in */
  }

  .dropdown.dark {
    border-color: var(--color-strokedark); /* dark:border-strokedark */
    background-color: black; /* dark:bg-black */
  }

  @media (min-width: 1280px) {
    .dropdown {
      visibility: hidden; /* xl:invisible */
      position: absolute; /* xl:absolute */
      margin-top: 0; /* xl:mt-0 */
      display: flex; /* xl:flex */
      width: 250px; /* xl:w-[250px] */
      transform: translateY(40px); /* xl:translate-y-10 */
      opacity: 0; /* xl:opacity-0 */
    }

    .dropdown::before {
      content: '';
      position: absolute;
      top: -6px; /* xl:before:-top-1.5 */
      left: 40px; /* xl:before:left-10 */
      height: 12px; /* xl:before:h-3 */
      width: 12px; /* xl:before:w-3 */
      transform: rotate(45deg); /* xl:before:rotate-45 */
      border-left: 1px solid var(--color-stroke); /* xl:before:border-l */
      border-top: 1px solid var(--color-stroke); /* xl:before:border-t */
      background-color: white; /* xl:before:bg-white */
    }

    .dropdown.dark::before {
      border-color: var(--color-strokedark); /* xl:dark:before:border-strokedark */
      background-color: black; /* xl:dark:before:bg-black */
    }

    .group:hover .dropdown {
      visibility: visible; /* xl:group-hover:visible */
      transform: translateY(26px); /* xl:group-hover:translate-y-6.5 */
      opacity: 1; /* xl:group-hover:opacity-100 */
    }
  }
}

@media (max-width: 1280px) {
  .navbar {
    max-height: 400px; /* max-h-[400px] */
    overflow-y: scroll; /* overflow-y-scroll */
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .img-white {
    filter: invert(0%) sepia(96%) saturate(15%) hue-rotate(249deg)
      brightness(100%) contrast(105%);
  }
}
/* 
.blog-details-docs {
  @apply rounded-lg border border-white p-7.5 shadow-solid-3 transition-all dark:border-strokedark  dark:bg-blacksection xl:p-12.5;
}

.blog-details p {
  @apply mb-8 text-base leading-relaxed text-titlebgdark dark:text-waterloo;
}

.blog-details p strong {
  @apply text-primary dark:text-waterloo;
}
.blog-details h3 strong,
.blog-details h3 {
  @apply mb-10 text-xl !font-semibold leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h4 strong,
.blog-details h4 {
  @apply text-xl !font-semibold leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h5 strong,
.blog-details h5 {
  @apply mb-3 text-lg !font-semibold leading-tight text-black dark:text-white sm:text-xl;
}

.blog-details h1 {
  @apply mb-4 text-3xl !font-bold !leading-tight text-black dark:text-white sm:text-4xl md:text-[45px] lg:text-4xl xl:text-[45px];
}
.blog-details h2 strong,
.blog-details h2 {
  @apply mb-4 text-[26px] !font-bold !leading-tight text-black dark:text-white sm:text-3xl md:text-4xl;
}

.blog-details ul,
.blog-details ol {
  @apply mb-10 list-inside list-disc text-titlebgdark;
}

.blog-details li,
.blog-details li {
  @apply mb-2 text-base text-titlebgdark dark:text-waterloo;
}

.blog-details blockquote {
  @apply relative z-10 mb-10 overflow-hidden rounded-sm bg-manatee p-8 text-center text-base font-medium italic text-black dark:bg-titlebgdark md:py-9 lg:px-10;
}

.blog-details blockquote::after {
  content: "";
  @apply absolute bottom-0 right-0 h-20 w-20 bg-[url(/images/blog/quote-shape-2.svg)] bg-contain bg-right-bottom bg-no-repeat;
}

.blog-details blockquote::before {
  content: "";
  @apply absolute left-0 top-0 h-[106px] w-[140px] bg-[url(/images/blog/quote-shape-1.svg)] bg-contain bg-left-top bg-no-repeat dark:bg-[url(/images/blog/quote-shape-1.svg)];
}

pre {
  @apply relative mb-2 rounded-lg bg-strokedark px-4 py-2;
}
.prism-copy-button {
  @apply absolute right-2 top-2 h-[26px] rounded bg-white px-4 text-primary;
}

.active-tab {
  @apply bg-stroke text-black dark:bg-blackho dark:text-white;
} */

.blog-details-docs {
  border-radius: 8px; /* rounded-lg */
  border: 1px solid white; /* border-white */
  padding: 30px; /* p-7.5 */
  box-shadow: var(--shadow-solid-3); /* shadow-solid-3 */
  transition: all 0.3s ease; /* transition-all */
}
.blog-details-docs.dark {
  border-color: var(--color-strokedark); /* dark:border-strokedark */
  background-color: var(--color-blacksection); /* dark:bg-blacksection */
}

.blog-details p {
  margin-bottom: 32px; /* mb-8 */
  font-size: 16px; /* text-base */
  line-height: 1.75; /* leading-relaxed */
  color: var(--color-titlebgdark); /* text-titlebgdark */
}
.blog-details p.dark {
  color: var(--color-waterloo); /* dark:text-waterloo */
}

.blog-details p strong {
  color: var(--color-primary); /* text-primary */
}
.blog-details p strong.dark {
  color: var(--color-waterloo); /* dark:text-waterloo */
}

.blog-details h3,
.blog-details h3 strong {
  margin-bottom: 40px; /* mb-10 */
  font-size: 24px; /* text-xl */
  font-weight: 600; /* !font-semibold */
  line-height: 1.25; /* leading-tight */
  color: black; /* text-black */
}
.blog-details h3.dark,
.blog-details h3 strong.dark {
  color: white; /* dark:text-white */
}

@media (min-width: 640px) {
  .blog-details h3,
  .blog-details h3 strong {
    font-size: 32px; /* sm:text-2xl */
  }
}

@media (min-width: 1024px) {
  .blog-details h3,
  .blog-details h3 strong {
    font-size: 24px; /* lg:text-xl */
  }
}

@media (min-width: 1280px) {
  .blog-details h3,
  .blog-details h3 strong {
    font-size: 32px; /* xl:text-2xl */
  }
}

.blog-details h4,
.blog-details h4 strong {
  font-size: 24px; /* text-xl */
  font-weight: 600; /* !font-semibold */
  line-height: 1.25; /* leading-tight */
  color: black; /* text-black */
}
.blog-details h4.dark,
.blog-details h4 strong.dark {
  color: white; /* dark:text-white */
}

@media (min-width: 640px) {
  .blog-details h4,
  .blog-details h4 strong {
    font-size: 32px; /* sm:text-2xl */
  }
}

.blog-details h5,
.blog-details h5 strong {
  margin-bottom: 12px; /* mb-3 */
  font-size: 18px; /* text-lg */
  font-weight: 600; /* !font-semibold */
  color: black; /* text-black */
}
.blog-details h5.dark,
.blog-details h5 strong.dark {
  color: white; /* dark:text-white */
}

@media (min-width: 640px) {
  .blog-details h5,
  .blog-details h5 strong {
    font-size: 20px; /* sm:text-xl */
  }
}

.blog-details h1 {
  margin-bottom: 16px; /* mb-4 */
  font-size: 36px; /* text-3xl */
  font-weight: 700; /* !font-bold */
  line-height: 1.25; /* !leading-tight */
  color: black; /* text-black */
}
.blog-details h1.dark {
  color: white; /* dark:text-white */
}

@media (min-width: 640px) {
  .blog-details h1 {
    font-size: 48px; /* sm:text-4xl */
  }
}

@media (min-width: 768px) {
  .blog-details h1 {
    font-size: 45px; /* md:text-[45px] */
  }
}

@media (min-width: 1024px) {
  .blog-details h1 {
    font-size: 48px; /* lg:text-4xl */
  }
}

@media (min-width: 1280px) {
  .blog-details h1 {
    font-size: 45px; /* xl:text-[45px] */
  }
}

.blog-details h2,
.blog-details h2 strong {
  margin-bottom: 16px; /* mb-4 */
  font-size: 26px; /* text-[26px] */
  font-weight: 700; /* !font-bold */
  line-height: 1.25; /* !leading-tight */
  color: black; /* text-black */
}
.blog-details h2.dark,
.blog-details h2 strong.dark {
  color: white; /* dark:text-white */
}

@media (min-width: 640px) {
  .blog-details h2 {
    font-size: 32px; /* sm:text-3xl */
  }
}

@media (min-width: 768px) {
  .blog-details h2 {
    font-size: 48px; /* md:text-4xl */
  }
}

.blog-details ul,
.blog-details ol {
  margin-bottom: 40px; /* mb-10 */
  list-style-position: inside; /* list-inside */
  list-style-type: disc; /* list-disc */
  color: var(--color-titlebgdark); /* text-titlebgdark */
}

.blog-details li {
  margin-bottom: 8px; /* mb-2 */
  font-size: 16px; /* text-base */
  color: var(--color-titlebgdark); /* text-titlebgdark */
}
.blog-details li.dark {
  color: var(--color-waterloo); /* dark:text-waterloo */
}

.blog-details blockquote {
  position: relative; /* relative */
  z-index: 10; /* z-10 */
  margin-bottom: 40px; /* mb-10 */
  overflow: hidden;
  border-radius: 4px; /* rounded-sm */
  background-color: var(--color-manatee); /* bg-manatee */
  padding: 32px; /* p-8 */
  text-align: center; /* text-center */
  font-size: 16px; /* text-base */
  font-weight: 500; /* font-medium */
  font-style: italic; /* italic */
  color: black; /* text-black */
}
.blog-details blockquote.dark {
  background-color: var(--color-titlebgdark); /* dark:bg-titlebgdark */
}

@media (min-width: 768px) {
  .blog-details blockquote {
    padding-top: 36px; /* md:py-9 */
    padding-left: 40px; /* lg:px-10 */
  }
}

.blog-details blockquote::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px; /* h-20 */
  width: 80px; /* w-20 */
  background: url(/images/blog/quote-shape-2.svg) no-repeat right bottom;
  background-size: contain;
}

.blog-details blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 106px; /* h-[106px] */
  width: 140px; /* w-[140px] */
  background: url(/images/blog/quote-shape-1.svg) no-repeat left top;
  background-size: contain;
}
.blog-details blockquote.dark::before {
  background: url(/images/blog/quote-shape-1.svg) no-repeat left top;
}

pre {
  position: relative; /* relative */
  margin-bottom: 8px; /* mb-2 */
  border-radius: 8px; /* rounded-lg */
  background-color: var(--color-strokedark); /* bg-strokedark */
  padding: 16px; /* px-4 py-2 */
}

.prism-copy-button {
  position: absolute; /* absolute */
  right: 8px; /* right-2 */
  top: 8px; /* top-2 */
  height: 26px; /* h-[26px] */
  border-radius: 4px; /* rounded */
  background-color: white; /* bg-white */
  padding: 16px; /* px-4 */
  color: var(--color-primary); /* text-primary */
}

.active-tab {
  background-color: var(--color-stroke); /* bg-stroke */
  color: black; /* text-black */
}
.active-tab.dark {
  background-color: var(--color-blackho); /* dark:bg-blackho */
  color: white; /* dark:text-white */
}
